/* For resolutions > 510px */

@media screen and (max-width: 509px ) {
    .form-group, .form-group input {
        width: 200px;
        font-size: .7em;
    }

    .ajust-form h3 {
        font-size: .7em;
    }

    .form-group label, .info-register {
        font-size: .5em;
    }

    .btn-join, .btn-register {
        font-size: .7em;
    }
}


@media screen and (min-width: 510px ) {

    .all-content {
        background: url("../images/image-tablet.png") no-repeat fixed top center ;
    }

    .css-p, .exection-p {
        font-size: .6em;
    }

    .css-div {
        width: 48%;
        margin-right: 2%;
        float: left;
        margin-bottom: 15%;
    }

    .css-div-three {
        width: 48%;
        margin-right: 2%;
        float: left;
        margin-bottom: 10%;
    }

    .info-five {
        margin-top: 20%;
        width: 100%;
    }
    
    .css-div-icons{
        width: 20%;
        margin-bottom: 15%;
    }

    .last-buttons {
    
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;

    }

    .btn-configs {
        padding: 2% 3%;
        margin-bottom: 5%;
    }

    .info-eleven {
        width: 100%;
    }

    .responsive-configs {
        display: flex;
        justify-content: space-between;
        padding: 3% 5%;
    }

    .responsive-configs-icons {
        display: flex;
        justify-content: space-between;
    }

    .list-footer {
        margin-top: 5%;
    }

    .css-div-icons {
        font-size: .7em;
    }

    .btn-togo-website {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1.5% 2%;
    }

    .info-six p  {
        margin-top: -15%;
    }

    .block-info {
        padding: 10% 5%;
    }

    .info-seven h1 {
        font-size: .7em;
     }
     
     .info-eight h1 {
         font-size: .7em;
      
     }
     
     .info-nine h1 {
         font-size: .7em;
     }
     
     .info-ten h1 {
         font-size: .7em;
      
     }

     /* header */

     .logo {
        width: 200px;
        height: 200px;
    }   

    .btn-menu img {
        width: 60px;
        height: 60px;
    }

    .menu li {
        font-size: 1em;
    }

    .btn-reunion-call {
        display: none;
    }
    
}